.container_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  transition: ease all 0.35s;

  &.black-background {
    background-color: #040c16;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    #logo {
      font-size: 1.8rem;
      font-weight: 500;

      span {
        background-color: #0788ff;
        padding: 0.1rem 0.5rem;
        border-radius: 1rem;
      }
    }

    nav {
      ul {
        display: flex;
        margin: 0;
        gap: 2rem;

        a {
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .toggler-menu {
        background-color: transparent;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.2) !important;
        border-radius: 0.2rem;
        padding: 0 1.5rem;
        height: 2.5rem;
        position: relative;

        span {
          position: absolute;
          margin: auto;
          width: 1rem;
          height: 0;
          inset: 0;
          box-shadow: 0 0 0 1px currentColor, 0 -7px 0 1px currentColor,
            0 7px 0 1px currentColor;
        }
      }

      &.active {
        ul {
          display: flex;
          align-items: flex-start;
        }
      }
    }
  }
}

// @media (min-width: 576px) {
//   .container {
//     max-width: 300px;
//   }
// }

@media (min-width: 768px) {
  .toggler-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .container_wrapper {
    .container {
      justify-content: space-between;
      padding: 0 1rem;
      nav {
        ul {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: #040c16;
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          flex-direction: column;
          padding: 0.6rem 1.25rem;
          display: none;
          box-shadow: 0 0.125rem 0.25rem #37373713;
        }
      }
    }
  }
}

@media (min-width: 992px) {
}
